# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# Jetbrains Webstorm IDE config:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/workspace.xml
.idea/tasks.xml
/.idea/codeStyles

# vscode settings
/.vscode

# VIM pollution
*.swp
*.swo
*.swn
*.swm

# OS X stuff
.DS_Store

/build/*
!/build/package.json

# ignore istanbul code coverage
/coverage

# aws cli
awscli-bundle/*

# artifact creation
/artifact/*

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# see https://www.gitignore.io/api/git
