<div class="alert alert-info">
  <button class="btn btn-primary" onclick={{action "log" "Hey!"}}>Say hi from component action!</button>
  <button class="btn btn-primary" onclick={{perform this.log "Hey!"}}>Say hi from component task!</button>
</div>